.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff7f0;
  flex-grow: 1;
  overflow: hidden;
}

.login-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-image: url('/assets/images/login-imagen.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 70%;
}
